# Set these after deploying contracts
NEXT_PUBLIC_POLICY_REGISTRY_ADDRESS=

# cUSD on Celo mainnet (default). Use Alfajores address for testnet:
# 0x874069Fa1Eb16D44d622F2e0Ca25eeA172369bC1
NEXT_PUBLIC_CUSD_ADDRESS=0x765DE816845861e75A25fCA122bb6898B8B1282a

NEXT_PUBLIC_CELO_CHAIN_ID=42220
